.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}
/* shared style */
.text-primasy {
  color: #fd6e0a;
}
.dark-2 {
  color: #474747;
}
.btn-primary {
  background-color: #fd6e0a;
  font-weight: 700;
  color: #ffffff;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
}
/* nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 150px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 58px;
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
}
.header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
/* banner style */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 30px 0 200px;
}
.banner-contant {
  width: 580px;
}
.banner-greetings {
  font-size: 45px;
  font-weight: 600;
}
.baner-title {
  font-weight: 700;
  font-size: 85px;
}
.baner-discription {
  color: #757575;
  font-size: 18px;
}
.banner-profile-pic {
  width: 580px;
}
